.btn-success2 {
    color: #fff;
    background-color: #0008;
    border-color: #0008;
}

element.style {
    border-top-width: 10px;
    padding-top: 1px;
    margin-top: 10px;
}

h3.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: black;
    text-align: center;
}

div.row.vertical-offset-100 {
    padding-top: 50px;
}


